VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Webuzo / Webizo Outgoing SMTP Mail Settings
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=

SMTP_EMAIL=
SMTP_PASSWORD=
ADMIN_EMAIL=

CAREER_SMTP_EMAIL=
CAREER_SMTP_PASSWORD=
CAREER_ADMIN_EMAIL=

VITE_GA_MEASUREMENT_ID=
PORT=
VITE_LOOKER_STUDIO_URL=
